extends layout
block content
    form(class="form" method='post' action="/submitted")
        p Username:&nbsp;&nbsp;
            input(type='text' name='username' required)
        p Password:&nbsp;&nbsp;
            input(type='password' name='password' required)
        p Email:&nbsp;&nbsp;
            input(type='text' name='email' required)
        p Age:&nbsp;&nbsp;
            input(type='text' name='age' required)
        p
            input(type='submit' value='Save')