extends layout
block content
    h1=title
    div(class="formDiv")
        form(class="form" method='post' action="/newUser")
            p Username:&nbsp;&nbsp;
                input(type='text' name='username' required)
            p Password:&nbsp;&nbsp;
                input(type='text' name='password' required)
            p E-Mail:&nbsp;&nbsp;
                input(type='text' name='email' required)
            p Age:&nbsp;&nbsp;
                input(type='number' name='age' required)
            p What shape is the earth to you?:<br>
                input(type="text" name="question1" required)
            p How much is 1+1 to you?:<br>
                input(type='text' name='question2' required)
            p How much wood CAN a wood chuck chuck?:<br>
                input(type='text' name='question3' required)
            p
                input(type='submit' value='Create user!')
