doctype
html
    head
        link(href='style.css' rel='stylesheet')
    body
        header
            nav
                ul
                    li
                        a(href="/") Index
                        if loggedIn
                            a(href="/private") View Profile
                        else
                            a(href="/login") Log In
                            a(href="/newUser") Create Account
        section
            block content
        footer