doctype
html
    head
        link(href='style.css' rel='stylesheet')
    body
        header
            nav
                ul
                    li Stuff
        section
            h1 #{title}
            block content
        footer