html{
    background: #500;
    color: #fff;
}

header{
    margin: 0px 200px;
    height: 50px;
    background: #611;
    display: block;
    text-align: left;    
}

li{
    list-style: none;
    display: inline;
}

.formDiv{
    display: block;
    text-align: center;
}

.insideDiv{
    display: inline;
}

.form{
    display: inline-block;
    width: 300px;
    padding: 10px 30px;
    border: 5px solid #faa;
    border-radius: 15px;
    background: #b55;
}

li{
    list-style: none;
}

a{
    color:white;
    border: 3px solid #faa;
    margin: 5px;
}

a:hover{
    color: yellow;
}